.container {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.day i {
  animation: night 1s ease forwards;
}

.night i {
  animation: day 1s ease forwards;
}

@keyframes day {
  0% {
    transform: rotate(0deg);
    color: #fff;
  }
  100% {
    transform: rotate(360deg);
    color: #f3ff0a;
  }
}

@keyframes night {
  0% {
    transform: rotate(0deg);
    color: #f3ff0a;
  }
  100% {
    transform: rotate(360deg);
    color: #fff;
  }
}
