.btn {
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}

.dark {
  background-color: #434343;
  color: white;
}

.light {
  background-color: #dbdbdb;
}

.dark:hover {
  background-color: #232323;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s ease;
}

.light:hover {
  background-color: #f2f0f0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s ease;
}
